.loader-container {
  margin-left: auto;
  margin-right: auto;
}

.loader-container .paragraph {
  text-align: center;
  margin-top: 1rem;
}

.reset-password-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  height: 100vh;
}

.reset-password-container .form-reset-password .btn {
  margin-top: 1rem;
}

@media screen and (min-width: 768px) {
  .reset-password-container {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .reset-password-container {
    width: 30%;
  }
}