.navigation-container {  
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-container {
  position: relative;
}

.user-container {
  display: flex;
  align-items: center;
  gap: .3rem;
}

.user-img {
  width: 30px;
}

.arrow-img-rotate-down {
  width: 15px;
  transform: rotate(90deg);
}

.arrow-img-rotate-up {
  width: 15px;
  transform: rotate(270deg);
}

.menu-dropdown {
  position: absolute;
  list-style: none;
  top: 3rem;
  left: -10rem;
  right: 0;  
  padding-left: 0;
  background-color: var(--white);
  z-index: 1;
  padding: .5rem;
  display: none;
}

.menu-dropdown.is-visible {
  display: block;
}

.menu-dropdown .item {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.menu-dropdown .item:last-child {
  margin-bottom: 0;
}

.settings-img,
.logout-img ,
.score-img,
.trivia-game-settings-img {
  width: 30px;
}

@media screen and (min-width: 768px) {
  .navigation-container {
    display: flex;
    align-items: center;
    justify-content: space-between;    
  }
}

.button-group {
  display: none;
}

@media screen and (min-width: 768px) {
  .button-group {
    display: flex;
    gap: 1rem;
  }
}

.logo {
  font-size: 1rem;
  font-weight: 700;  
}