.menu-dropdown {
  position: absolute;
  list-style: none;
  top: 3rem;
  left: -10rem;
  right: 0;
  padding-left: 0;
  background-color: var(--white);
  z-index: 2;
  padding: .5rem;
  display: none;
}

.menu-dropdown.is-visible {
  display: block;
}

.menu-dropdown .item {
  display: flex;
  align-items: center;
  gap: .5rem;
  margin-bottom: .5rem;
}

.menu-dropdown .item:last-child {
  margin-bottom: 0;
}

.settings-img,
.logout-img,
.score-img,
.trivia-game-settings-img {
  width: 30px;
}