.account-created-message .title {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.account-created-message .btn {
  margin-left: auto;
  margin-right: auto;
  display: block;
  color: var(--blue);
}