:root {
  --red: #e76e55;
  --light-red: #f8d7da,
  --blue: #209cee;
  --green: #92cc41;
  --light-green: #d4edda;
  --light-gray: #efefef;
  --black: #212529;
  --white: #fff
}

body {
  font-size: 16px
}

button {
  border: none;
  outline: none;
  background-color: transparent;
}

button:focus{
  outline: none;
}

img {
  display: block;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.cursor-wait {
  cursor: wait;
}


